@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@700&family=Source+Sans+Pro:wght@300&display=swap');

body{
    /*font-family: 'Roboto', sans-serif;*/

    font-family: 'Bebas Neue', cursive;
}
header{
    font-size: 23px;
    font-family: 'Source Sans Pro', sans-serif;
}
.vertical-line{
    border-left: 2px solid #000;
    display: inline-block;
    height: 40px;

}