<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header th:replace="fragments :: html_navbar"/>

<br>
<br>

<div class="container admin " >
    <h1 class="text-center mb-4">Formulaire de golf</h1>
    <div class="row">


        <div class="col-sm-6  mx-auto border " >

            <form action="#" method="post" th:action="@{/golf}" th:object="${golfs}" >
                <input type="hidden" name="id" th:field="*{id}">

                <br>
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom golf :</label>
                    <input type="text" th:field="*{nom}" class="form-control" placeholder="Nom golf" required
                           minlength="2"
                           id="nom" name="nom">
                </div>

                <div class="mb-3">
                    <label for="coordGPS" class="form-label">Coordonnées GPS :</label>
                    <input type="text" th:field="*{coordGPS}" class="form-control" placeholder="coordonnées GPS"
                           required minlength="2"
                           id="coordGPS" name="coordGPS">
                </div>
                <div class="form-actions text-center">

                    <button type="submit" value="Valider" class="btn btn-success "><i
                            class="bi bi-check-circle-fill">&nbsp;
                        Envoyer</i></button>

                    <br><br><br>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    document.querySelector("form").addEventListener("submit", function (event) {
        console.log(event);
        for (const input of event.target.querySelectorAll("form input,form select,form textarea")) {


            if (!input.checkValidity()) {
                event.preventDefault();
                if (!document.querySelector("#msg" + input.id)) {
                    input.classList.remove("is-valid");
                    input.classList.add("is-invalid");
                    let msg = document.createElement("div");
                    msg.id = `msg${input.id}`;
                    msg.classList.add('text-danger');
                    msg.innerText = input.validationMessage;
                    input.parentElement.insertBefore(msg, input);

                } else {
                    document.querySelector("#msg" + input.id).innerText = input.validationMessage;
                }
            } else {
                if (document.querySelector("#msg" + input.id)) {
                    console.log(input);
                    input.parentElement.removeChild(document.querySelector("#msg" + input.id));
                }
                input.classList.remove("is-invalid");
                input.classList.add("is-valid");
            }

        }
    })

    for (const input of document.querySelectorAll("form input,form select,form textarea")) {
        input.addEventListener('blur', function () {
                if (!input.validity.valid) {
                    if (!input.checkValidity()) {
                        input.classList.remove("is-valid");
                        input.classList.add("is-invalid");
                        if (!document.querySelector("#msg" + input.id)) {
                            let msg = document.createElement("div");
                            msg.id = `msg${input.id}`;
                            msg.classList.add('text-danger');
                            msg.innerText = input.validationMessage;
                            input.parentElement.insertBefore(msg, input);
                        } else {
                            document.querySelector("#msg" + input.id).innerText = input.validationMessage;
                        }
                    }
                } else {
                    if (document.querySelector("#msg" + input.id)) {
                        input.parentElement.removeChild(document.querySelector("#msg" + input.id));
                    }
                    input.classList.remove("is-invalid");
                    input.classList.add("is-valid");
                }
            }
        )
    }
</script>
</body>
<!--<footer th:replace="fragments :: html_footer"/>-->
</html>



