<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header th:replace="fragments :: html_navbar"/>

<br>
<br>

<div class="container admin">
    <h1 class="text-center mb-4">Formulaire de modification de golf</h1>
    <div class="row">


        <div class="col-sm-6  mx-auto border bg-white ">

            <form action="#" method="post" th:action="@{/golf}" th:object="${golfs}">
                <input type="hidden" name="id" th:field="*{id}">

                <br>
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom golf :</label>
                    <input type="text" th:field="*{nom}" class="form-control" placeholder="Nom golf" required
                           minlength="2"
                           id="nom" name="nom">
                </div>

                <div class="mb-3">
                    <label for="coordGPS" class="form-label">Coordonnées GPS :</label>
                    <input type="text" th:field="*{coordGPS}" class="form-control" placeholder="coordonnées GPS"
                           required minlength="2"
                           id="coordGPS" name="coordGPS">
                </div>
                <div class="form-actions text-center">

                    <button type="submit" value="Valider" class="btn btn-success "><i
                            class="bi bi-check-circle-fill">&nbsp;
                        Envoyer</i></button>

                    <br><br><br>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
<!--<footer th:replace="fragments :: html_footer"/>-->
</html>



