<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header th:replace="fragments :: html_navbar"/>

<br>
<br>

<div class="container admin">
    <h1 class="text-center mb-4">Formulaire d'Ajout des trou par Parcours </h1>
    <div class="row">


        <div class="col-sm-12  mx-auto border bg-white ">

            <form action="#" method="post"  >
                <input type="hidden" name="id" >

                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">5</th>
                        <th scope="col">6</th>
                        <th scope="col">7</th>
                        <th scope="col">8</th>
                        <th scope="col">9</th>
                        <th scope="col">10</th>
                        <th scope="col">11</th>
                        <th scope="col">12</th>
                        <th scope="col">13</th>
                        <th scope="col">14</th>
                        <th scope="col">15</th>
                        <th scope="col">16</th>
                        <th scope="col">17</th>
                        <th scope="col">18</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">nom trou</th>
                        <td><input type="text"  class="form-control w-25" placeholder="Nom Trou" required
                                   minlength="2"
                                   id="nom1" name="nom"></td>
                        <td><input type="text"  class="form-control w-25" placeholder="Num Trou" required
                                   minlength="2"
                                   id="num1" name="nom"></td>
                        <td><input type="text"  class="form-control w-25" placeholder="Par Trou" required
                                   minlength="2"
                                   id="par1" name="nom"></td>
                    </tr>
                    <tr>
                        <th scope="row">num trou</th>
                        <td><input type="text"  class="form-control w-25" placeholder="Nom Trou" required
                                   minlength="2"
                                   id="nom2" name="nom"></td>
                        <td><input type="text"  class="form-control w-25" placeholder="Nom Trou" required
                                   minlength="2"
                                   id="num2" name="nom"></td>
                        <td><input type="text"  class="form-control w-25" placeholder="Nom Trou" required
                                   minlength="2"
                                   id="par2" name="nom"></td>
                    </tr>
                    <tr>
                        <th scope="row">par</th>
                        <td><input type="text"  class="form-control w-25" placeholder="Nom Trou" required
                                   minlength="2"
                                   id="nom3" name="nom"></td>
                        <td><input type="text"  class="form-control w-25" placeholder="Nom Trou" required
                                   minlength="2"
                                   id="num3" name="nom"></td>
                        <td><input type="text"  class="form-control w-25" placeholder="Nom Trou" required
                                   minlength="2"
                                   id="par3" name="nom"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-actions text-center">

                    <button type="submit" value="Valider" class="btn btn-success "><i
                            class="bi bi-check-circle-fill">&nbsp;
                        Envoyer</i></button>

                    <br><br><br>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
<!--<footer th:replace="fragments :: html_footer"/>-->
</html>



